@model MilkyProject.WebUI.Dtos.Service.UpdateServiceDto
@{
    ViewData["Title"] = "UpdateServices";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0"> Hizmet Kısmı Güncelleme</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tbody>
                        <form method="post">
                            <div classs="container">
                                <br /><br />
                                <label>Başlık</label>
                                <input type="hidden" asp-for="ServiceId" value="" />
                                <input type="text" asp-for="Title" class="form-control" />
                                <br />
                                <label>Açıklama</label>
                                <input type="text" asp-for="Description" class="form-control" />
                                <br />
                                <label>Görsel</label>
                                <input type="text" asp-for="ImageUrl" class="form-control" />
                                <br />
                            </div>
                            <br />
                            <button class="btn btn-primary">
                                Güncelle
                            </button>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>