@model List<MilkyProject.WebUI.Dtos.ResultCategoryDto>
@{
    Layout = null;
}
<div class="container">
    <br /><br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.categoryId</td>
            <td>@item.categoryName</td>
            <td><a href="/Category/DeleteCategory/@item.categoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.categoryId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/CreateCategory/" class="btn btn-info">Yeni Kategori</a>
</div>