@model MilkyProject.WebUI.Dtos.Product.UpdateProductDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Ürün Güncelleme</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tbody>
                        <form method="post">
                            <div classs="container">
                                <br /><br />
                                <label>Ürün Adu</label>
                                <input type="text" asp-for="ProductName" class="form-control" />
                            </div>
                            <br />
                            <label>Eski Fiyat</label>
                            <input type="text" asp-for="OldPrice" class="form-control" />
                            <br />
                            <label>Yeni Fiyat</label>
                            <input type="text" asp-for="NewPrice" class="form-control" />
                            <br />
                            <label>Görsel</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <label>Durum</label>
                            <input type="text" asp-for="Status" class="form-control" />
                            <br />
                            <label>Kategori Seçin</label>
                                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                            <br />
                            <button class="btn btn-primary">
                                Ürünü Ekle
                            </button>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
