@model List<MilkyProject.WebUI.Dtos.Slider.ResultSliderDto>
@{
    ViewData["Title"] = "SliderList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Görseller</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Görsel</th>
                            <th scope="col">Açıklama 1</th>
                            <th scope="col">Açıklama 2</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    <img src="@item.ImageUrl" style="width:150px; height:150px" />
                                </td>
                                <td>@item.Description</td>
                                <td>@item.Description2</td>
                                <td><a href="/Admin/Slider/DeleteSlider/@item.SliderId" class="btn btn-warning">Sil</a></td>
                                <td><a href="/Admin/Slider/UpdateSlider/@item.SliderId" class="btn btn-info">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <br />
        <td><a href="/Admin/Slider/CreateSlider/" class="btn btn-primary">Yeni Görsel Girişi</a></td>
    </div>
</div>

